.elementor-5927 .elementor-element.elementor-element-30b27c62 {
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 0px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-176ecec6:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-5927 .elementor-element.elementor-element-176ecec6 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2022/01/video-image-1a.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
ul li{
	list-style: none;
}

.gallary-img-6{
    background-image: url("../../2022/01/video-image-6a.jpg")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallary-img-7{
    background-image: url("../../2022/01/video-image-7a.JPG")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallary-img-8{
    background-image: url("../../2022/01/video-image-8a.JPG")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallary-img-9{
    background-image: url("../../2022/01/video-image-9a.JPG")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallary-img-10{
    background-image: url("../../2022/01/video-image-10a.JPG")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallary-img-11{
    background-image: url("../../2022/01/video-image-11a.JPG")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallary-img-12{
    background-image: url("../../2022/01/video-image-12a.JPG")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallary-img-13{
    background-image: url("../../2022/01/video-image-13a.JPG")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallary-img-14{
    background-image: url("../../2022/01/video-image-14a.JPG")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallary-img-15{
    background-image: url("../../2022/01/video-image-15a.JPG")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallary-img-16{
    background-image: url("../../2022/01/video-image-16a.JPG")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallary-img-17{
    background-image: url("../../2022/01/video-image-17a.JPG")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallary-img-18{
    background-image: url("../../2022/01/video-image-18a.JPG")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-5927 .elementor-element.elementor-element-176ecec6 > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #3c345600 0%, #3c3456 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-176ecec6:hover > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #231c39 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-176ecec6 > .elementor-element-populated,
.elementor-5927 .elementor-element.elementor-element-176ecec6 > .elementor-element-populated > .elementor-background-overlay,
.elementor-5927 .elementor-element.elementor-element-176ecec6 > .elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}
.elementor-5927 .elementor-element.elementor-element-176ecec6 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
    padding: 213px 40px 22px 30px;
}
.elementor-5927 .elementor-element.elementor-element-176ecec6 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.5s, border-radius 0.3s, opacity 0.5s;
}
.elementor-5927 .elementor-element.elementor-element-9e6424 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-dd65cec-font-family), Sans-serif;
    font-size: var(--e-global-typography-dd65cec-font-size);
    font-weight: var(--e-global-typography-dd65cec-font-weight);
    line-height: var(--e-global-typography-dd65cec-line-height);
    letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
    word-spacing: var(--e-global-typography-dd65cec-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-9e6424 > .elementor-widget-container {
    margin: 12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-11e7ad06 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-3132585-font-family), Sans-serif;
    font-size: var(--e-global-typography-3132585-font-size);
    font-weight: var(--e-global-typography-3132585-font-weight);
    line-height: var(--e-global-typography-3132585-line-height);
    letter-spacing: var(--e-global-typography-3132585-letter-spacing);
    word-spacing: var(--e-global-typography-3132585-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-11e7ad06 > .elementor-widget-container {
    margin: -18px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-14a2bed8:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-5927 .elementor-element.elementor-element-14a2bed8 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2022/01/video-image-2a.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-5927 .elementor-element.elementor-element-14a2bed8 > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #3c3456 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-14a2bed8:hover > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #231c39 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-14a2bed8 > .elementor-element-populated,
.elementor-5927 .elementor-element.elementor-element-14a2bed8 > .elementor-element-populated > .elementor-background-overlay,
.elementor-5927 .elementor-element.elementor-element-14a2bed8 > .elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}
.elementor-5927 .elementor-element.elementor-element-14a2bed8 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
    padding: 213px 40px 22px 30px;
}
.elementor-5927 .elementor-element.elementor-element-14a2bed8 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5927 .elementor-element.elementor-element-51668d2f .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-dd65cec-font-family), Sans-serif;
    font-size: var(--e-global-typography-dd65cec-font-size);
    font-weight: var(--e-global-typography-dd65cec-font-weight);
    line-height: var(--e-global-typography-dd65cec-line-height);
    letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
    word-spacing: var(--e-global-typography-dd65cec-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-51668d2f > .elementor-widget-container {
    margin: 12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-6eff9df {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-3132585-font-family), Sans-serif;
    font-size: var(--e-global-typography-3132585-font-size);
    font-weight: var(--e-global-typography-3132585-font-weight);
    line-height: var(--e-global-typography-3132585-line-height);
    letter-spacing: var(--e-global-typography-3132585-letter-spacing);
    word-spacing: var(--e-global-typography-3132585-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-6eff9df > .elementor-widget-container {
    margin: -17px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-1539d2e7 {
    margin-top: 0px;
    margin-bottom: 030px;
    padding: 0px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-7ffdeff2:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-5927 .elementor-element.elementor-element-7ffdeff2 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2022/01/video-image-3a.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-5927 .elementor-element.elementor-element-7ffdeff2 > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #3c3456 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-7ffdeff2:hover > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #221c35 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-7ffdeff2 > .elementor-element-populated,
.elementor-5927 .elementor-element.elementor-element-7ffdeff2 > .elementor-element-populated > .elementor-background-overlay,
.elementor-5927 .elementor-element.elementor-element-7ffdeff2 > .elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}
.elementor-5927 .elementor-element.elementor-element-7ffdeff2 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 015px 0px 0px;
    --e-column-margin-right: 015px;
    --e-column-margin-left: 0px;
    padding: 215px 0px 23px 30px;
}
.elementor-5927 .elementor-element.elementor-element-7ffdeff2 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.5s, border-radius 0.3s, opacity 0.5s;
}
.elementor-5927 .elementor-element.elementor-element-23dcce61 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-dd65cec-font-family), Sans-serif;
    font-size: var(--e-global-typography-dd65cec-font-size);
    font-weight: var(--e-global-typography-dd65cec-font-weight);
    line-height: var(--e-global-typography-dd65cec-line-height);
    letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
    word-spacing: var(--e-global-typography-dd65cec-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-23dcce61 > .elementor-widget-container {
    margin: 12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-76f7159e {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-3132585-font-family), Sans-serif;
    font-size: var(--e-global-typography-3132585-font-size);
    font-weight: var(--e-global-typography-3132585-font-weight);
    line-height: var(--e-global-typography-3132585-line-height);
    letter-spacing: var(--e-global-typography-3132585-letter-spacing);
    word-spacing: var(--e-global-typography-3132585-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-76f7159e > .elementor-widget-container {
    margin: -17px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-585bd171:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-5927 .elementor-element.elementor-element-585bd171 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2022/01/video-image-4a.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-5927 .elementor-element.elementor-element-585bd171 > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #3c3456 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-585bd171:hover > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #221c35 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-585bd171 > .elementor-element-populated,
.elementor-5927 .elementor-element.elementor-element-585bd171 > .elementor-element-populated > .elementor-background-overlay,
.elementor-5927 .elementor-element.elementor-element-585bd171 > .elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}
.elementor-5927 .elementor-element.elementor-element-585bd171 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 215px 0px 23px 30px;
}
.elementor-5927 .elementor-element.elementor-element-585bd171 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.5s, border-radius 0.3s, opacity 0.5s;
}
.elementor-5927 .elementor-element.elementor-element-26ca4b79 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-dd65cec-font-family), Sans-serif;
    font-size: var(--e-global-typography-dd65cec-font-size);
    font-weight: var(--e-global-typography-dd65cec-font-weight);
    line-height: var(--e-global-typography-dd65cec-line-height);
    letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
    word-spacing: var(--e-global-typography-dd65cec-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-26ca4b79 > .elementor-widget-container {
    margin: 12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-608b9cf5 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-3132585-font-family), Sans-serif;
    font-size: var(--e-global-typography-3132585-font-size);
    font-weight: var(--e-global-typography-3132585-font-weight);
    line-height: var(--e-global-typography-3132585-line-height);
    letter-spacing: var(--e-global-typography-3132585-letter-spacing);
    word-spacing: var(--e-global-typography-3132585-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-608b9cf5 > .elementor-widget-container {
    margin: -17px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-63284bdc:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-5927 .elementor-element.elementor-element-63284bdc > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2022/01/video-image-5a.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-5927 .elementor-element.elementor-element-63284bdc > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #3c3456 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-63284bdc:hover > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #221c35 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-63284bdc > .elementor-element-populated,
.elementor-5927 .elementor-element.elementor-element-63284bdc > .elementor-element-populated > .elementor-background-overlay,
.elementor-5927 .elementor-element.elementor-element-63284bdc > .elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}
.elementor-5927 .elementor-element.elementor-element-63284bdc > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
    padding: 215px 40px 023px 30px;
}
.elementor-5927 .elementor-element.elementor-element-63284bdc > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.5s, border-radius 0.3s, opacity 0.5s;
}
.elementor-5927 .elementor-element.elementor-element-5614877c .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-dd65cec-font-family), Sans-serif;
    font-size: var(--e-global-typography-dd65cec-font-size);
    font-weight: var(--e-global-typography-dd65cec-font-weight);
    line-height: var(--e-global-typography-dd65cec-line-height);
    letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
    word-spacing: var(--e-global-typography-dd65cec-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-5614877c > .elementor-widget-container {
    margin: 12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-7c710977 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-3132585-font-family), Sans-serif;
    font-size: var(--e-global-typography-3132585-font-size);
    font-weight: var(--e-global-typography-3132585-font-weight);
    line-height: var(--e-global-typography-3132585-line-height);
    letter-spacing: var(--e-global-typography-3132585-letter-spacing);
    word-spacing: var(--e-global-typography-3132585-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-7c710977 > .elementor-widget-container {
    margin: -17px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-24961527 {
    margin-top: 0px;
    margin-bottom: 030px;
    padding: 0px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-12cf8fbd:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-5927 .elementor-element.elementor-element-12cf8fbd > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2022/01/video-tutorial-image-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-5927 .elementor-element.elementor-element-12cf8fbd > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #3c3456 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-12cf8fbd:hover > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #221c35 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-12cf8fbd > .elementor-element-populated,
.elementor-5927 .elementor-element.elementor-element-12cf8fbd > .elementor-element-populated > .elementor-background-overlay,
.elementor-5927 .elementor-element.elementor-element-12cf8fbd > .elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}
.elementor-5927 .elementor-element.elementor-element-12cf8fbd > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 22px 0px 0px;
    --e-column-margin-right: 22px;
    --e-column-margin-left: 0px;
    padding: 213px 0px 23px 30px;
}
.elementor-5927 .elementor-element.elementor-element-12cf8fbd > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.5s, border-radius 0.3s, opacity 0.5s;
}
.elementor-5927 .elementor-element.elementor-element-42ed21eb .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-dd65cec-font-family), Sans-serif;
    font-size: var(--e-global-typography-dd65cec-font-size);
    font-weight: var(--e-global-typography-dd65cec-font-weight);
    line-height: var(--e-global-typography-dd65cec-line-height);
    letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
    word-spacing: var(--e-global-typography-dd65cec-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-42ed21eb > .elementor-widget-container {
    margin: 12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-778a947 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-3132585-font-family), Sans-serif;
    font-size: var(--e-global-typography-3132585-font-size);
    font-weight: var(--e-global-typography-3132585-font-weight);
    line-height: var(--e-global-typography-3132585-line-height);
    letter-spacing: var(--e-global-typography-3132585-letter-spacing);
    word-spacing: var(--e-global-typography-3132585-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-778a947 > .elementor-widget-container {
    margin: -17px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-7258551:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-5927 .elementor-element.elementor-element-7258551 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2022/01/video-tutorial-image-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-5927 .elementor-element.elementor-element-7258551 > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #3c3456 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-7258551:hover > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #221c35 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-7258551 > .elementor-element-populated,
.elementor-5927 .elementor-element.elementor-element-7258551 > .elementor-element-populated > .elementor-background-overlay,
.elementor-5927 .elementor-element.elementor-element-7258551 > .elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}
.elementor-5927 .elementor-element.elementor-element-7258551 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 015px 0px 8px;
    --e-column-margin-right: 015px;
    --e-column-margin-left: 8px;
    padding: 213px 0px 23px 30px;
}
.elementor-5927 .elementor-element.elementor-element-7258551 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.5s, border-radius 0.3s, opacity 0.5s;
}
.elementor-5927 .elementor-element.elementor-element-1e8d0f71 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-dd65cec-font-family), Sans-serif;
    font-size: var(--e-global-typography-dd65cec-font-size);
    font-weight: var(--e-global-typography-dd65cec-font-weight);
    line-height: var(--e-global-typography-dd65cec-line-height);
    letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
    word-spacing: var(--e-global-typography-dd65cec-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-1e8d0f71 > .elementor-widget-container {
    margin: 12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-7d82e5a6 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-3132585-font-family), Sans-serif;
    font-size: var(--e-global-typography-3132585-font-size);
    font-weight: var(--e-global-typography-3132585-font-weight);
    line-height: var(--e-global-typography-3132585-line-height);
    letter-spacing: var(--e-global-typography-3132585-letter-spacing);
    word-spacing: var(--e-global-typography-3132585-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-7d82e5a6 > .elementor-widget-container {
    margin: -17px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-48d24739:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-5927 .elementor-element.elementor-element-48d24739 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2022/01/video-tutorial-image-3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-5927 .elementor-element.elementor-element-48d24739 > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #3c3456 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-48d24739:hover > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #221c35 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-48d24739 > .elementor-element-populated,
.elementor-5927 .elementor-element.elementor-element-48d24739 > .elementor-element-populated > .elementor-background-overlay,
.elementor-5927 .elementor-element.elementor-element-48d24739 > .elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}
.elementor-5927 .elementor-element.elementor-element-48d24739 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 7px 0px 15px;
    --e-column-margin-right: 7px;
    --e-column-margin-left: 15px;
    padding: 213px 0px 023px 30px;
}
.elementor-5927 .elementor-element.elementor-element-48d24739 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.5s, border-radius 0.3s, opacity 0.5s;
}
.elementor-5927 .elementor-element.elementor-element-1feb9d16 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-dd65cec-font-family), Sans-serif;
    font-size: var(--e-global-typography-dd65cec-font-size);
    font-weight: var(--e-global-typography-dd65cec-font-weight);
    line-height: var(--e-global-typography-dd65cec-line-height);
    letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
    word-spacing: var(--e-global-typography-dd65cec-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-1feb9d16 > .elementor-widget-container {
    margin: 12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-3fd72516 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-3132585-font-family), Sans-serif;
    font-size: var(--e-global-typography-3132585-font-size);
    font-weight: var(--e-global-typography-3132585-font-weight);
    line-height: var(--e-global-typography-3132585-line-height);
    letter-spacing: var(--e-global-typography-3132585-letter-spacing);
    word-spacing: var(--e-global-typography-3132585-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-3fd72516 > .elementor-widget-container {
    margin: -17px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-207a2a63:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-5927 .elementor-element.elementor-element-207a2a63 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2022/01/video-tutorial-image-4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-5927 .elementor-element.elementor-element-207a2a63 > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010103 0%, #3c3456 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-207a2a63:hover > .elementor-element-populated > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #02010100 0%, #221c35 100%);
    opacity: 1;
}
.elementor-5927 .elementor-element.elementor-element-207a2a63 > .elementor-element-populated,
.elementor-5927 .elementor-element.elementor-element-207a2a63 > .elementor-element-populated > .elementor-background-overlay,
.elementor-5927 .elementor-element.elementor-element-207a2a63 > .elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}
.elementor-5927 .elementor-element.elementor-element-207a2a63 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 23px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 23px;
    padding: 213px 10px 023px 30px;
}
.elementor-5927 .elementor-element.elementor-element-207a2a63 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.5s, border-radius 0.3s, opacity 0.5s;
}
.elementor-5927 .elementor-element.elementor-element-13f1ba9b .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-dd65cec-font-family), Sans-serif;
    font-size: var(--e-global-typography-dd65cec-font-size);
    font-weight: var(--e-global-typography-dd65cec-font-weight);
    line-height: var(--e-global-typography-dd65cec-line-height);
    letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
    word-spacing: var(--e-global-typography-dd65cec-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-13f1ba9b > .elementor-widget-container {
    margin: 12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-5927 .elementor-element.elementor-element-4bc051fd {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-3132585-font-family), Sans-serif;
    font-size: var(--e-global-typography-3132585-font-size);
    font-weight: var(--e-global-typography-3132585-font-weight);
    line-height: var(--e-global-typography-3132585-line-height);
    letter-spacing: var(--e-global-typography-3132585-letter-spacing);
    word-spacing: var(--e-global-typography-3132585-word-spacing);
}
.elementor-5927 .elementor-element.elementor-element-4bc051fd > .elementor-widget-container {
    margin: -17px 0px 0px 0px;
}
@media (max-width: 1024px) {
    .elementor-5927 .elementor-element.elementor-element-9e6424 .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-11e7ad06 {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-51668d2f .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-6eff9df {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-7ffdeff2 > .elementor-element-populated {
        padding: 180px 0px 23px 20px;
    }
    .elementor-5927 .elementor-element.elementor-element-23dcce61 .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-76f7159e {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-585bd171 > .elementor-element-populated {
        padding: 180px 0px 23px 20px;
    }
    .elementor-5927 .elementor-element.elementor-element-26ca4b79 .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-608b9cf5 {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-63284bdc > .elementor-element-populated {
        padding: 180px 0px 23px 20px;
    }
    .elementor-5927 .elementor-element.elementor-element-5614877c .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-7c710977 {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-12cf8fbd > .elementor-element-populated {
        padding: 180px 0px 23px 20px;
    }
    .elementor-5927 .elementor-element.elementor-element-42ed21eb .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-778a947 {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-7258551 > .elementor-element-populated {
        padding: 180px 0px 23px 20px;
    }
    .elementor-5927 .elementor-element.elementor-element-1e8d0f71 .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-7d82e5a6 {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-48d24739 > .elementor-element-populated {
        padding: 180px 0px 23px 20px;
    }
    .elementor-5927 .elementor-element.elementor-element-1feb9d16 .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-3fd72516 {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-207a2a63 > .elementor-element-populated {
        padding: 180px 0px 23px 20px;
    }
    .elementor-5927 .elementor-element.elementor-element-13f1ba9b .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-4bc051fd {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
}
@media (max-width: 767px) {
    .elementor-5927 .elementor-element.elementor-element-176ecec6 > .elementor-element-populated {
        margin: 0px 15px 30px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
        padding: 180px 0px 23px 20px;
    }
    .elementor-5927 .elementor-element.elementor-element-9e6424 .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-11e7ad06 {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-14a2bed8 > .elementor-element-populated {
        margin: 0px 15px 0px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
        padding: 180px 0px 23px 20px;
    }
    .elementor-5927 .elementor-element.elementor-element-51668d2f .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-6eff9df {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-7ffdeff2 > .elementor-element-populated {
        margin: 0px 15px 30px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-5927 .elementor-element.elementor-element-23dcce61 .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-76f7159e {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-585bd171 > .elementor-element-populated {
        margin: 0px 15px 30px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-5927 .elementor-element.elementor-element-26ca4b79 .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-608b9cf5 {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-63284bdc > .elementor-element-populated {
        margin: 0px 15px 0px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-5927 .elementor-element.elementor-element-5614877c .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-7c710977 {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-12cf8fbd > .elementor-element-populated {
        margin: 0px 15px 30px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-5927 .elementor-element.elementor-element-42ed21eb .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-778a947 {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-7258551 > .elementor-element-populated {
        margin: 0px 15px 30px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-5927 .elementor-element.elementor-element-1e8d0f71 .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-7d82e5a6 {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-48d24739 > .elementor-element-populated {
        margin: 0px 15px 30px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-5927 .elementor-element.elementor-element-1feb9d16 .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-3fd72516 {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-207a2a63 > .elementor-element-populated {
        margin: 0px 15px 0px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-5927 .elementor-element.elementor-element-13f1ba9b .elementor-heading-title {
        font-size: var(--e-global-typography-dd65cec-font-size);
        line-height: var(--e-global-typography-dd65cec-line-height);
        letter-spacing: var(--e-global-typography-dd65cec-letter-spacing);
        word-spacing: var(--e-global-typography-dd65cec-word-spacing);
    }
    .elementor-5927 .elementor-element.elementor-element-4bc051fd {
        font-size: var(--e-global-typography-3132585-font-size);
        line-height: var(--e-global-typography-3132585-line-height);
        letter-spacing: var(--e-global-typography-3132585-letter-spacing);
        word-spacing: var(--e-global-typography-3132585-word-spacing);
    }
}
